.welcome-card  {
  display: flex;
  justify-content: center;
  margin: 20;
  height: 600px;
flex-direction: column;
}
#bar{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
 .search{
 width:100px;
 border-radius: 25%;

 }

